.card {
  background-color: var(--color-primary-50);
  border-radius: var(--radius-lg);
  padding: 54px var(--spacing-2xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  align-items: center;
}

.title {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-3xl);
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-gray-900);
  margin-bottom: var(--spacing-lg);
}

.description {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-lg);
  line-height: 28px;
  text-align: center;
  color: var(--color-gray-500);
  max-width: 480px;
}
