/* Fixel Text - for body text */
@font-face {
  font-family: 'Fixel Text';
  src: url('/fonts/FixelText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}

@font-face {
  font-family: 'Fixel Text';
  src: url('/fonts/FixelText-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}

@font-face {
  font-family: 'Fixel Text';
  src: url('/fonts/FixelText-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}

/* Fixel Display - for headings */
@font-face {
  font-family: 'Fixel Display';
  src: url('/fonts/FixelDisplay-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}
