.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-lg);
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-2xl);
  line-height: 44px;
  color: var(--color-text);
}
