.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--layout-header-height));
}

.title {
  color: var(--color-text);
}

.description {
  color: var(--color-text-secondary);
}
