.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.title {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-3xl);
  line-height: 44px;
  letter-spacing: -0.02em;
  margin-bottom: -4px;
}

.title {
  color: var(--color-gray-900);
}

.titlePlaceholder {
  composes: title;
  color: var(--color-gray-500);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-lg);
}

@media (max-width: 767px) {
  .row {
    grid-template-columns: 1fr;
  }
}
